<div id="<%= dom_id flat %>">
  <p>
    <strong>Address:</strong>
    <%= flat.address %>
  </p>

  <p>
    <strong>Guest:</strong>
    <%= flat.guest %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= flat.room %>
  </p>

  <p>
    <strong>Bathroom:</strong>
    <%= flat.bathroom %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= flat.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= flat.image_url %>
  </p>

  <p>
    <strong>User:</strong>
    <%= flat.user_id %>
  </p>

</div>
